{% extends 'base.html' %}

{% block title %}
    Change Password
{% endblock %}

{% block content %}
<h2 class="text-center mt-4"> Change Password </h2>

<form class="m-5 border p-5" action="{% url 'change_password' %}" method="POST">
    {% csrf_token %}
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">New Password</label>
        <input type="password" class="form-control" id="exampleInputEmail1"  name="password" required>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" name="confirm_password" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>

    {%for message in messages %}
        <div class="alert alert-{{ message.tag }} alert-dismissible fade show" role="alert">
        <strong>Messages:</strong> {{ message }}
        </div>
    {% endfor %}

</form>
{% endblock %}