{% extends 'admin_base.html' %}

{% block title %} Dashboard {% endblock %}

{% block content %}

    <div >
        <h3> Login As : {{username}} </h3>
        <h2 class="text-center mt-4"> All Employee </h2>
        <table class="table mx-auto w-75">
            <thead>
            <tr class="text-center">
                <th class="col-3">#</th>
                <th class="col-3">Name</th>
                <th class="col-3">Designation</th>
                <th class="col-3">Is_admin</th>
            </tr>
            </thead>
            <tbody>

            {% for emp in employee %}
            <tr class="text-center">
                <th scope="row">{{forloop.counter}}</th>
                <td>{{emp.user}}</td>
                <td>{{emp.designation}}</td>
                <td>{{emp.is_admin}}</td>
            </tr>
            {% endfor %}
            
            </tbody>
        </table>
    </div>

{% endblock %}